@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-doto:
    var(--font-doto), "Nunito", "Inter", "Segoe UI", "Helvetica Neue",
    sans-serif;

  --font-mono:
    var(--font-mono), "JetBrains Mono", "Fira Code", "Menlo", "Consolas",
    monospace;

  --font-inter: var(--font-inter), sans-serif;

  --font-departure-mono:
    var(--font-departure-mono), "Menlo", "Roboto Mono", "JetBrains Mono",
    "SF Mono", "Consolas", monospace;

  /* Default */
  --color-bg-default: oklch(0.92 0 0);
  --color-bg-default-alt: oklch(0.98 0 0);
  --color-fg-default: oklch(0.22 0.01 0);
  --color-outline-default: oklch(0.76 0.01 286.28);

  /* Secondary */
  --color-bg-secondary: oklch(0.84 0 0);
  --color-fg-secondary: oklch(0.17 0.01 0);
  --color-outline-secondary: oklch(0.78 0.01 286.28);

  /* Accent */
  --color-bg-accent: oklch(0.95 0 0);
  --color-fg-accent: oklch(0.37 0.01 285.84);
  --color-outline-accent: oklch(0.8 0.01 286.28);

  /* Tertiary */
  --color-bg-tertiary: oklch(0.92 0 286.32);
  --color-bg-tertiary-alt: oklch(0.92 0 286.32);
  --color-outline-tertiary: oklch(0.78 0.01 286.28);
  --color-fg-tertiary: oklch(0.4 0.01 0);

  /* Inverse */
  --color-bg-inverse: oklch(0.22 0.01 0);
  --color-fg-inverse: oklch(0.98 0 0);
  --color-outline-inverse: oklch(0.37 0.01 285.84);

  /* Brand  */
  --color-bg-brand: oklch(0.38 0.09 289.08);
  --color-on-bg-brand: oklch(0.94 0.02 289.08);
  --color-outline-brand: oklch(0.7 0.0652 291.18);
  --color-bg-brand-subtle: oklch(0.42 0.07 289.08);
  --color-on-bg-brand-subtle: oklch(0.9 0.03 289.08);
  --color-outline-brand-subtle: oklch(0.4 0.07 289.08);
  --color-fg-brand: oklch(0.4324 0.1406 291.18);

  /* Success */
  --color-bg-success: oklch(0.62 0.17 149.18);
  --color-on-bg-success: oklch(0.98 0.02 159.12);
  --color-outline-success: oklch(0.52 0.14 149.83);
  --color-bg-success-subtle: oklch(0.96 0.04 158.52);
  --color-on-bg-success-subtle: oklch(0.39 0.09 151.48);
  --color-outline-success-subtle: oklch(0.92 0.08 156.67);
  --color-fg-success: oklch(0.52 0.14 149.83);

  /* Warning */
  --color-bg-warning: oklch(0.68 0.14 76.73);
  --color-on-bg-warning: oklch(0.98 0.02 86.08);
  --color-outline-warning: oklch(0.58 0.12 77.91);
  --color-bg-warning-subtle: oklch(0.95 0.06 86.07);
  --color-on-bg-warning-subtle: oklch(0.46 0.09 79.66);
  --color-outline-warning-subtle: oklch(0.9 0.11 85.5);
  --color-fg-warning: oklch(0.58 0.12 77.91);

  /* Danger */
  --color-bg-danger: oklch(0.58 0.21 27.17);
  --color-on-bg-danger: oklch(0.97 0.01 17.4);
  --color-outline-danger: oklch(0.51 0.19 27.56);
  --color-bg-danger-subtle: oklch(0.93 0.03 17.73);
  --color-on-bg-danger-subtle: oklch(0.4 0.13 25.77);
  --color-outline-danger-subtle: oklch(0.88 0.06 18.39);
  --color-fg-danger: oklch(0.51 0.19 27.56);

  --radius-2xs: 0.125rem; /* 2px */
  --radius-xs: 0.25rem; /* 4px */
  --radius-sm: 0.375rem; /* 6px */
  --radius-base: 0.5rem; /* 8px */
  --radius-lg: 0.75rem; /* 12px */
  --radius-xl: 1rem; /* 16px */
  --radius-2xl: 1.25rem; /* 20px */
  --radius-full: 9999px;

  --shadow-xs: 0 1px 2px rgba(16, 24, 40, 0.05);
  --shadow-sm:
    0 1px 3px rgba(16, 24, 40, 0.1), 0 1px 2px rgba(16, 24, 40, 0.06);
  --shadow-md:
    0 4px 8px rgba(16, 24, 40, 0.1), 0 2px 4px rgba(16, 24, 40, 0.06);
  --shadow-lg:
    0 12px 16px rgba(16, 24, 40, 0.08), 0 4px 6px rgba(16, 24, 40, 0.03);
  --shadow-xl:
    0 20px 24px rgba(16, 24, 40, 0.08), 0 8px 8px rgba(16, 24, 40, 0.03);
  --shadow-2xl: 0 24px 48px rgba(16, 24, 40, 0.18);
  --shadow-3xl: 0 32px 64px rgba(16, 24, 40, 0.14);

  --ease-slow: cubic-bezier(0.405, 0, 0.025, 1);
  --ease-minor-spring: cubic-bezier(0.18, 0.89, 0.82, 1.04);
}

.dark {
  /* Default */
  --color-bg-default: oklch(0.1957 0 0);
  --color-bg-default-alt: oklch(0.27 0 0);
  --color-outline-default: oklch(0.37 0.01 285.84);
  --color-fg-default: oklch(82.968% 0.00009 271.152);

  /* Secondary */
  --color-bg-secondary: oklch(0.269 0 0);
  --color-outline-secondary: oklch(0.32 0.01 285.84);
  --color-fg-secondary: oklch(85.1% 0.006 286.286);

  /* Accent */
  --color-bg-accent: oklch(0.32 0 0);
  --color-outline-accent: oklch(0.28 0.01 285.84);
  --color-fg-accent: oklch(87.1% 0.006 286.286);

  /* Tertiary */
  --color-bg-tertiary: oklch(0.269 0 0);
  --color-bg-tertiary-alt: oklch(0.269 0 0);
  --color-outline-tertiary: oklch(38.983% 0.00219 248.344);
  --color-fg-tertiary: oklch(0.7504 0.0061 264.52);

  /* Inverse */
  --color-bg-inverse: oklch(90% 0.004 286.32);
  --color-outline-inverse: oklch(0.1957 0 0);
  --color-fg-inverse: oklch(0.1957 0 0);

  /* Brand  */
  --color-bg-brand: oklch(0.4733 0.0763 289.08);
  --color-on-bg-brand: oklch(0.98 0.02 289.08);
  --color-outline-brand: oklch(0.58 0.07 289.08);
  --color-bg-brand-subtle: oklch(0.52 0.05 289.08);
  --color-on-bg-brand-subtle: oklch(0.92 0.03 289.08);
  --color-outline-brand-subtle: oklch(0.48 0.06 289.08);
  --color-fg-brand: oklch(0.7128 0.0652 289.73);

  /* Success */
  --color-bg-success: oklch(0.8 0.18 151.78);
  --color-on-bg-success: oklch(0.27 0.06 151.23);
  --color-outline-success: oklch(0.8 0.18 151.78);
  --color-bg-success-subtle: oklch(0.39 0.09 151.48);
  --color-on-bg-success-subtle: oklch(0.96 0.04 158.52);
  --color-outline-success-subtle: oklch(0.45 0.11 150.91);
  --color-fg-success: oklch(0.8 0.18 151.78);

  /* Warning */
  --color-bg-warning: oklch(0.81 0.17 78.26);
  --color-on-bg-warning: oklch(0.32 0.06 81.84);
  --color-outline-warning: oklch(0.81 0.17 78.26);
  --color-bg-warning-subtle: oklch(0.46 0.09 79.66);
  --color-on-bg-warning-subtle: oklch(0.95 0.06 86.07);
  --color-outline-warning-subtle: oklch(0.52 0.1 80.1);
  --color-fg-warning: oklch(0.81 0.17 78.26);

  /* Danger */
  --color-bg-danger: oklch(0.71 0.17 22.18);
  --color-on-bg-danger: oklch(0.25 0.09 26);
  --color-outline-danger: oklch(0.71 0.17 22.18);
  --color-bg-danger-subtle: oklch(0.3 0.05 25.77);
  --color-on-bg-danger-subtle: oklch(0.93 0.03 17.73);
  --color-outline-danger-subtle: oklch(0.44 0.16 26.89);
  --color-fg-danger: oklch(0.71 0.17 22.18);
}

/* -------------------------------------------------------------------------- */

:root {
  --header-height: 6rem;

  --grainy-overlay-z-index: 50;
  --above-grainy-overlay-z-index: 60;
}

@media (max-width: 640px) {
  :root {
    --header-height: 4.925rem;
  }
}

html {
  scroll-behavior: smooth;
  /* background-color: rgb(83, 60, 150); */
}

@layer base {
  * {
    @apply border-outline-default;
  }
  body {
    @apply bg-bg-default text-fg-default font-inter;
  }
}

@utility container {
  @apply mx-auto max-w-screen-xl p-5;
}

.new_tab_cursor {
  cursor:
    url(/images/new-tab.png) 10 10,
    pointer;
}

.lucide {
  width: 1em;
  height: 1em;
}

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;

  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}

/* -------------------------------------------------------------------------- */

.markdown li::marker {
  @apply py-0 font-medium text-fg-secondary;
}

.markdown li p {
  @apply my-0;
}

.markdown hr {
  @apply border-outline-default;
}

.markdown thead {
  @apply border-b-outline-default bg-bg-tertiary;
}

.markdown thead th {
  @apply px-4 py-3;
}

.markdown tr {
  @apply border-outline-secondary;
}

.markdown td {
  @apply p-4;
}

.markdown p > span {
  @apply my-1.5 inline-block;
}

.markdown ol {
  @apply pl-8;
}

/* -------------------------------------------------------------------------- */
.blog {
  .prose h1 a,
  .prose h2 a,
  .prose h3 a,
  .prose h4 a,
  .prose h5 a {
    @apply !text-fg-default !no-underline hover:!underline !font-bold;
  }

  .prose a {
    @apply text-fg-brand;
  }

  .prose h1,
  .prose h2,
  .prose h3 {
    @apply scroll-m-24;
  }

  .prose h1 svg,
  .prose h2 svg,
  .prose h3 svg,
  .prose h4 svg,
  .prose h5 svg {
    @apply !size-3.5 text-fg-tertiary;
  }

  .prose li::marker {
    @apply text-fg-tertiary py-0;
  }

  .prose {
    @apply text-fg-secondary/90;
  }

  .prose hr {
    @apply border-outline-secondary;
  }

  .prose figure:has(pre) {
    @apply shadow-none;
  }

  .prose :not(pre) > code {
    @apply font-mono font-medium bg-bg-secondary !py-px;
  }

  .prose strong {
    @apply text-fg-secondary/90;
  }

  .prose p {
    @apply !my-1.5;
  }

  .prose blockquote {
    @apply font-inter text-fg-tertiary border-outline-secondary;
  }
}
